<div class="panel">

  <details [open]="openPanel === 'base'" (toggle)="onToggle('base', $event);">
    <summary>Base</summary>
    <label>
      Height (mm)
      <input type="number" step="1" [(ngModel)]="d.params.h" (input)="changeBase()" />
    </label>
    <br>
    <label>
      Height : Width Ratio
      <div class="ratio">
        <input type="number" step="1" min="1" [(ngModel)]="d.params.htoW.n" (input)="changeBase()" />
        <span>:</span>
        <input type="number" step="1" min="1" [(ngModel)]="d.params.htoW.d" (input)="changeBase()" />
      </div>
    </label>

    <br>
    <label>
      Upper Bout : Lower Bout Ratio
      <div class="ratio">
        <input type="number" step="1" min="1" [(ngModel)]="d.params.hiToLowW.n" (input)="changeBase()" />
        <span>:</span>
        <input type="number" step="1" min="1" [(ngModel)]="d.params.hiToLowW.d" (input)="changeBase()" />
      </div>
    </label>
  </details>

  <details [open]="openPanel === 'lowerBout'" (toggle)="onToggle('lowerBout', $event)">
    <summary>Lower Bout</summary>

    <label>
      Vesica Radius : Gap Ratio
      <div class="ratio">
        <input type="number" step="1" min="1" [(ngModel)]="d.params.lowVesRadToGap.n" (input)="changeLowerVesica()" />
        <span>:</span>
        <input type="number" step="1" min="1" [(ngModel)]="d.params.lowVesRadToGap.d" (input)="changeLowerVesica()" />
      </div>
    </label>

    <br>

    <label>
      Join Arc Length : Height Ratio
      <div class="ratio">
        <input type="number" step="1" min="1" [(ngModel)]="d.params.lowJoinArcToH.n" (input)="changeLowerVesica()" />
        <span>:</span>
        <input type="number" step="1" min="1" [(ngModel)]="d.params.lowJoinArcToH.d" (input)="changeLowerVesica()" />
      </div>
    </label>

    <!-- Error message -->
    @if (lowerBoutError !== '') {
    <div class="calc-error">
      {{ lowerBoutError }}
    </div>
    }

    <br>
  </details>

  <details [open]="openPanel === 'upperBout'" (toggle)="onToggle('upperBout', $event)">
    <summary>Upper Bout</summary>
    <label>
      Vesica Radius : Distance Ratio
      <div class="ratio">
        <input type="number" step="1" min="1" [(ngModel)]="d.params.hiVesRadToGap.n" (input)="changeUpperVesica()" />
        <span>:</span>
        <input type="number" step="1" min="1" [(ngModel)]="d.params.hiVesRadToGap.d" (input)="changeUpperVesica()" />
      </div>
    </label>

    <br>

    <label>
      Join Arc Length : Height Ratio
      <div class="ratio">
        <input type="number" step="1" min="1" [(ngModel)]="d.params.hiJoinArcToH.n" (input)="changeUpperVesica()" />
        <span>:</span>
        <input type="number" step="1" min="1" [(ngModel)]="d.params.hiJoinArcToH.d" (input)="changeUpperVesica()" />
      </div>
    </label>
    <br>

    <!-- Error message -->
    @if (upperBoutError !== '') {
    <div class="calc-error">
      {{ upperBoutError }}
    </div>
    }
  </details>

  <details [open]="openPanel === 'cornerPlacement'" (toggle)="onToggle('cornerPlacement', $event)">
    <summary>Corner Placement</summary>
    <label>
      Center Section : Height
      <div class="ratio">
        <input type="number" step="1" min="0" [(ngModel)]="d.params.cenSecToH.n" (input)="changeCenterBouts()" />
        <span>:</span>
        <input type="number" step="1" min="1" [(ngModel)]="d.params.cenSecToH.d" (input)="changeCenterBouts()" />
      </div>
    </label>

    <br>

    <label>
      Upper Corner Section : Center Section
      <div class="ratio">
        <input type="number" step="1" min="0" [(ngModel)]="d.params.hiCornPart" (input)="changeCenterBouts()" />
        <span>:</span>
        <input type="number" step="1" min="1" [(ngModel)]="d.params.cenSecParts" (input)="changeCenterBouts()" />
      </div>
    </label>

    <br>

    <label>
      Lower Corner Section : Center Section
      <div class="ratio">
        <input type="number" step="1" min="0" [(ngModel)]="d.params.lowCornPart" (input)="changeCenterBouts()" />
        <span>:</span>
        <input type="number" step="1" min="1" [(ngModel)]="d.params.cenSecParts" (input)="changeCenterBouts()" />
      </div>
    </label>


    <!-- Error message -->
    @if (cornerPlacementError !== '') {
    <div class="calc-error">
      {{ lowerBoutError }}
    </div>
    }

  </details>


  <details [open]="openPanel === 'outerCorners'" (toggle)="onToggle('outerCorners', $event)">
    <summary>Corner Placement</summary>


    <label>
      Lower Outside Corner Radii : Low Width
      <div class="ratio">
        <input type="number" step="1" min="0" [(ngModel)]="d.params.lowOutCornerRadiToW.n"
          (input)="changeCenterBouts()" />
        <span>:</span>
        <input type="number" step="1" min="1" [(ngModel)]="d.params.lowOutCornerRadiToW.d"
          (input)="changeCenterBouts()" />
      </div>
    </label>

    <br>

    <label>
      Lower Outside Corner Radii : Low Width
      <div class="ratio">
        <input type="number" step="1" min="0" [(ngModel)]="d.params.hiOutCornerRadiToW" (input)="changeCenterBouts()" />
        <span>:</span>
        <input type="number" step="1" min="1" [(ngModel)]="d.params.hiOutCornerRadiToW" (input)="changeCenterBouts()" />
      </div>
    </label>

    <br>


    <!-- Error message -->
    @if (outerCornerError !== '') {
    <div class="calc-error">
      {{ lowerBoutError }}
    </div>
    }

  </details>


</div>