.app {
  --sidebar-width: 360px;

  height: 100vh;
  display: grid;
  grid-template-columns: 1fr var(--sidebar-width);
  grid-template-rows: auto 1fr;
  overflow: hidden;
  background: var(--ui-bg-app);
}

.top {
  grid-column: 1;
  grid-row: 1;
  min-width: 0;
}

.top-spacer {
  grid-column: 2;
  grid-row: 1;
  background: var(--ui-bg-sidebar);
  border-left: 1px solid var(--ui-border-soft);
  border-bottom: 1px solid var(--ui-topbar-border);
}

.main {
  grid-column: 1 / 3;
  grid-row: 2;
  display: flex;
  min-height: 0;
  /* allows children to scroll properly */
}

.canvas {
  flex: 1 1 auto;
  min-width: 0;
  background: var(--ui-bg-canvas);
  /* margin: 12px;
  border: 1px solid #b8b8b8; */
}

.sidebar {
  flex: 0 0 var(--sidebar-width);
  border-left: 1px solid var(--ui-border-soft);
  background: var(--ui-bg-sidebar);
}